.wd-booksite-whole {
    font-family: Georgia, serif;
    margin-left: auto;
    margin-right: auto;

}

.wd-booksite-main {
    margin-top: 100px;
    font-family: Georgia, serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

.wd-book-detail {
    padding: 20px;
}

.like-icon {
  font-size: 3em;
}

.wd-book-authTit {
    text-align: center;

}

.wd-book-authTit h1 {
    font-family: Georgia, serif;

}

.wd-book-authTit h4 {
    font-family: Georgia, serif;
    text-decoration: none;
}

.wd-book-authTit a{
    font-family: Georgia, serif;
    text-decoration: none;
    color: black;
}

.book-cover {
    background-color: #282c34;
}
.book-info-pane {
    position: fixed;

}

.books-search-list .list-group-item{
    border-width: 0px;
    border-bottom-width: 1px;
    text-decoration: none;

}

.books-search-list .list-group-item a{
    text-decoration: none;
    color: black;
}

.like-icon {
padding: 10px;
}

.unlike-icon {
    padding: 10px;
}

.book-details h6 {
    font-style: oblique;
    font-weight: bold;
}

.book-details.list-group .list-group-item{
    border-bottom-width: 1px;
    border-color: darkseagreen;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

.book-spacer-lg {
    width: 450px;
}

.wd-book-title-sm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}



.book-title{
    font-size: 2vw;
}

.book-description-box{
}

.review-box-and-buttons {
    background-color: darkseagreen;
    border-style: double;
    border-color: #062409;
    margin:5px;
    border-radius: 20px;
}
.review-text{
    margin: 5px;
}

.review-buttons {
    margin: 5px;
    width: 90px;
}

.modal-backdrop{
   }
.modal{z-index: 1060;}

