.wd-booksite-whole {
    font-family: Georgia, serif;
    margin-left: auto;
    margin-right: auto;

}

.wd-booksite-main {
    margin-top: 60px;
    font-family: Georgia, serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

.wd-book-detail {
    padding: 20px;
}

.like-icon {
  font-size: 3em;
}

.wd-book-authTit {
    text-align: center;

}

.wd-book-authTit h1 {
    font-family: Georgia, serif;

}

.wd-book-authTit h4 {
    font-family: Georgia, serif;
    text-decoration: none;
}

.wd-book-authTit a{
    font-family: Georgia, serif;
    text-decoration: none;
    color: black;
}

.book-cover {
    background-color: #282c34;
}
.book-info-pane {
    position: fixed;

}

.books-search-list .list-group-item{
    border-width: 0px;
    border-bottom-width: 1px;
    text-decoration: none;

}

.books-search-list .list-group-item a{
    text-decoration: none;
    color: black;
}

.like-icon {
padding: 10px;
}

.unlike-icon {
    padding: 10px;
}

.book-details h6 {
    font-style: oblique;
    font-weight: bold;
}

.book-details.list-group .list-group-item{
    border-bottom-width: 1px;
    border-color: #4a6459;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

.book-spacer-lg {
    width: 400px;
}

.wd-book-title-sm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.bookStatusBtn {
    background-color: #7f4c5d;
    border-color: #ffe2b9;
}

.bookStatusBtn:hover {
    background-color: white;
    border-color: #7f4c5d;
    color: #7f4c5d;
}

.book-title{
    font-size: 2vw;
}

.book-description-box{
}

.review-box-and-buttons {
    border-style: solid;
    border-color: #7f4c5d;
    margin:10px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.review-text{
    margin: 15px;
    max-width: 705px;

}

.review-buttons {
    margin: 5px;
    width: 90px;
}

.modal{z-index: 1060;}

.one-book-review {
    border-width: 0px;
    padding: 3px;

}

.NYT-reviews a{
    text-decoration: none;

}

.one-book-review :first-child {
    border-radius: 0px;
}


.one-book-review :last-child {
    border-radius: 0px;
}

.review-user {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.review-body {
    padding: 10px;
    background-color: #ffe2b9;
}

.NYT-review-user {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.NYT-review-body {
    padding: 10px;
    background-color: #eaeef1;
}

.review-user-row{
    background-color: #f1a629;
}

.NYT-review-user-row {
    background-color: #217675;
}

.review-edit-btn {
    background-color: #217675;
    border-color: #062409;
}

.review-edit-btn:hover {
    background-color: #5a949d;
    border-color: #062409;
}

.review-delete-btn {
    background-color: #720c10;
    border-color: #720c10;
}

.review-delete-btn:hover {
    color: #720c10;
    background-color: #fde2f0;
    border-color: #720c10;
}

.rmv-btn {
    margin-top: 15px;
    color: red;
    background-color: white;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.modal-body{
    align-content: center;
}

.book-page-all {
    padding-top: 30px;
}

.btn-admin {
    max-height: 29px;
}

.AuthorCommentBlock {
    margin: 10px;
    border-style: double;
    border-width: 5px;
    border-color: #f1a629;
    padding: 10px;
    min-height: 210px;
}

.AuthorCommentBlock button {
    margin-top: 10px;
}

.AuthorCommentBlock h4 {
    padding: 5px;
}

.AuthorCommentBlock textarea{
  max-width: 680px;
}