@tailwind base;
@tailwind components;
@tailwind utilities;


.wd-kanbas-user-navigation {
    background-color: white;
    color: black;
    list-style: none;
    padding: 0px;
    width: 100px;
    margin: 0px;
    height: 100vh;
    position: fixed;
    left:0px;
    top: 70px;
}

.list-group-item.false {
    padding-left: 16px;
    border: 0px;
    color: darkseagreen;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wd-kanbas-user-navigation .list-group-item.active {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkseagreen;
    color: white;
    border-radius: 0px;

}

.wd-kanbas-user-content{
    padding: 10px;
    padding-top: 25px;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
}

.book-h-list {
    max-width: 80%;
}

.book-h-list-item {
    padding: 5px;
}

.book-scroll {
    color: darkgreen;
}

.book-account-info {}
.wd-book-title-sm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.books-users-link{
    padding-left: 16px;
    border: 0px;
    color: darkseagreen;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.books-users-link-active.list-group-item{
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkseagreen;
    color: white;
    border-radius: 0px;
}

.books-profile-link-active.list-group-item {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkseagreen;
    color: white;
    border-radius: 0px;
}

.books-profile-link {
    padding-left: 16px;
    border: 0px;
    color: darkseagreen;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wd-account-whole{
    align-content: center;
}

.book-user-fields{
    max-width: 300px;
    margin-right: auto;
    margin-left:auto;
    align-content: center;
    border-radius: 10px;
}

.book-signin-block{
    background-color: darkseagreen;
    padding: 30px;
    color: white;

}

.book-signin-block .book-signin-title{
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left:auto;
    display: flow;
    display: flex;
}

.book-signin-block input {
    padding: 5px;
    margin: 10px;
}

.book-signin-block select {
    padding: 5px;
    margin: 10px;
}

.book-signin-block .btn-success{
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    display: flow;
    margin-top: 10px;
}

.book-signin-title {
    font-family: Georgia;
    font-size: 2em;
    padding: 5px;

}

div.book-user-list-header {
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
    font-family: Georgia;
    font-size: 3em;
    padding: 5px;
    background-color: darkseagreen;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color:white;

}

.book-users-table{
    border-radius: 10px;
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.book-users-table a{
    text-decoration: none;
    color: black;
}

.book-users-table-all{
    overflow-y: scroll;
    height: 550px;
    overflow-x: scroll;
}

.book-account-block .book-signin-block .book-user-fields{
width: 500px;
}

.edit-acc-btn{
    margin: 10px;
}

.profile-header {
    background-color: darkseagreen;
    font-size: 2em;
    text-align: center;
    font-family: Georgia;
    border-radius: 5px;
    margin:5px;
}

.profile-list {
    text-decoration: none;
    color: black;
}