@tailwind base;
@tailwind components;
@tailwind utilities;


.wd-kanbas-user-navigation {
    background-color: white;
    color: black;
    list-style: none;
    padding: 0px;
    width: 100px;
    margin: 0px;
    height: 100vh;
    position: fixed;
    left:0px;
    top: 60px;

}

.list-group-item.false {
    padding-left: 16px;
    border: 0px;
    color: #217675;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wd-kanbas-user-navigation .list-group-item.active {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1a629;
    color: white;
    border-radius: 0px;

}

.wd-kanbas-user-content{
    padding: 10px;
    padding-top: 25px;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
}

.book-h-list {
    max-width: 90%;
}

.book-h-list-item {
    padding: 5px;
}

.book-scroll {
    color: #7f4c5d;
}

.book-account-info {}
.wd-book-title-sm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.books-users-link{
    padding-left: 16px;
    border: 0px;
    color: #217675;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.books-users-link-active.list-group-item{
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1a629;
    color: white;
    border-radius: 0px;
}

.books-profile-link-active.list-group-item {
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1a629;
    color: white;
    border-radius: 0px;
}

.books-profile-link {
    padding-left: 16px;
    border: 0px;
    color: #217675;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.wd-account-whole{
    align-content: center;
}

.book-user-fields{
    max-width: 300px;
    margin-right: auto;
    margin-left:auto;
    align-content: center;
    border-radius: 10px;
}

.book-signin-block{
    background-color: #217675;
    padding: 30px;
    color: white;
    margin-top:30px;

}

.book-signin-block .book-signin-title{
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left:auto;
    display: flow;
    display: flex;
}

.book-signin-block input {
    padding: 5px;
    margin: 10px;
}

.book-signin-block select {
    padding: 5px;
    margin: 10px;
}

.book-signin-block .btn-success{
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    display: flow;
    margin-top: 10px;
}

.book-signin-title {
    font-family: Georgia;
    font-size: 2em;
    padding: 5px;

}

div.book-user-list-header {
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
    font-family: Georgia;
    font-size: 3em;
    padding: 5px;
    background-color: #217675;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color:white;

}

.book-users-table{
    border-radius: 10px;
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.book-users-table a{
    text-decoration: none;
    color: black;
}

.book-users-table-all{
    overflow-y: scroll;
    height: 550px;
    overflow-x: scroll;
}

.book-account-block .book-signin-block .book-user-fields{
width: 500px;
}

.edit-acc-btn{
    margin: 10px;
}

.profile-header {
    background-color: #217675;
    font-size: 2em;
    text-align: center;
    font-family: Georgia;
    border-radius: 5px;
    margin:5px;
}

.profile-subheader{
    border: 0px;
    text-align: center;
    font-size: 1.5em;
    border-bottom-width: 5px;
    border-style: double;
    border-color: #7f4c5d;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.profile-list {
    display: flow;
    text-decoration: none;
    color: black;
    align-content: center;
    justify-content: center;

}

.profile-list .list-group-item{

    text-decoration: none;
    color: black;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    background-color: white;
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    border-radius:10px;
    border-width: 3px;
    border-style: double;
    border-color: #217675;
}




.list-group.profile-list{
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left:auto;
    overflow-y: scroll;
    max-height: 250px;
}

.profile-button-1 {
    max-width: 80px;
    color: white;
    background-color: #f1a629;
}

.profile-button-1:hover {
    max-width: 80px;
    color: white;
}

.profile-button-2 {
    background-color: #7f4c5d;
    border-color: #7f4c5d;
    max-width: 120px;
}

.profile-button-2:hover {
    color: #7f4c5d;
    border-color: #7f4c5d;
   background-color: white;
}

.btn-followers {
    background-color: white;
    border-color:#4a6459;
    color: #4a6459;
}

.btn-followers:hover {
    background-color: #4a6459;
    border-color: #4a6459;
    color: white;
}

.profile-header {
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-header.follow-list {
    max-width: 900px;
    margin-right: auto;
    margin-left:auto;
    align-content: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.follow-list-groups {
    display: flex;
    max-width: 900px;
    margin-right: auto;
    margin-left:auto;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.follow-list-group {
    padding: 20px;
}

.profile-header-main {
    color:white;
}

.profile-header.follow-list a {
    text-decoration: none;
    color: darkgreen;
}

.prof-btn {
    margin: 5px;
}

.user-list-all {
    margin-top:30px;
}