.authorpage-authorName {
    font-size: 3em;
    border-width: 0px;
    border-bottom-width: 10px;
    border-style: double;
    color: #217675;
}

.likedBooksByAuth {
    margin: 10px;
}

.fullBookList {
    margin: 10px;
}

.fullBookList .allBooksHeader {
    background-color: #217675;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.highlightHeader {
    padding: 5px;
    font-size: 2em;
}